.text-dark {
    color: hsla(243, 87%, 12%, 1);
}

.text-white {
    color: hsla(0, 0%, 100%, 1);
}

.text-grey {
    color: hsla(243, 14%, 43%, 1);
}

.text-green {
    color: hsla(170, 45%, 43%, 1);
}


.text-font-raleway {
    font-family: "Raleway", sans-serif;
    font-style: normal;
}

.text-font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}


.bg-blue {
    background-color: hsla(224, 93%, 58%, 1);
}

.bg-purple {
    background-color: hsla(238, 22%, 44%, 1);
}

.bg-purple-dark {
    background-color: hsla(243, 87%, 12%, 1);
}


.max-width {
    max-width: 100%;
}



a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.header div {
    display: flex;
    margin: 24px 0px 0px 0px;
}

.header a {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: 0px 6.4% 0px 0px;
}

.header img {
    margin: 24px 0px 0px 6.4%;
    width: 20%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.image-1 {
    margin: 0px 9.33% 24px 9.33%;
}

.max-width h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin: 0px 7.5% 24px 7.5%;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin: 0px 11.5% 27px 11.5%;
}
 
.form-1 {
    display: flex;
    flex-direction: column;
    margin: 0px 9.33% 0px 9.33%;
}

input {
    all:unset;
    text-align: left;
    border: 0.63px solid hsla(243, 87%, 12%, 1);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 3.125px;
    height: 40px;
    padding-left: 20px;
    margin-bottom: 16px;
    background-color: white;
}

button {
    all:unset;
    height: 40px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 3.125px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 70px;
}

.form-1 div {
    display: none;
}

.curve {
    width: 100%;
    margin-top: -10%;
    margin-bottom: 10%;
}

.section-2 {
    background-color: hsla(240, 75%, 98%, 1);
    margin-top: 20%;
}

.image-2 {
    margin: 0px 9.33% 30px 9.33%;
}

h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    margin-top: 50px
}

.line {
    margin-bottom: 40px;
}

.quote-card {
    background-color: hsla(0, 0%, 100%, 1);
    margin: 0px 12.5% 80px 12.5%;
    box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
    border-radius: 3.93258px;
    text-align: left;
    padding: 22px 0px 20px 26px;
}

.quote-card i {
    margin-bottom: 10px;
}

.quote-card p {
    margin-left: 0px;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.384615px;
}

.avatar-container {
    display: flex;
}

.avatar-container img {
    border-radius: 50%;
    margin-right: 10px;
    width: 30px;
}

h3 {
    font-weight: 700;
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.45px;
}

.avatar-container span {
    font-weight: 400;
    font-size: 6px;
    line-height: 12px;
    letter-spacing: 0.3px;
}


